{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Create a Book Review</title>
  <link rel="stylesheet" href="{% static " book-review.css" %}">
</head>

<body>
  <header>
    <div>My Book Reviews</div>
    <nav>
      <a href="{% url "reviews_list" %}">Back to List</a>
    </nav>
  </header>
  <main>
    <div class="book-review-form">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <button>Submit</button>
        </div>
  </main>
  <footer>
    <div>Copyright 2020 by siebs</div>
    <p>
      This site will contain all of my book reviews that you can read to see if youd like the book
    </p>
  </footer>
</body>

</html>